

p {
    color: blue; 
}
/*Font sizes and alignment and hight and letter spacing*/
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Cabin", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  /*For heading 1*/
  h1 {
    font-size: 60px;
    text-align: center;
  }
  /*For paragraphs*/
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
 /*Background color   */
  html { 
    background-color: #d9d9d9;
  }
  /*Styling the body*/
  body{
    width: 600px; /*Forces the body to always be 600 pixels wide */
    margin: 0 auto; /*Margin*/
    background-color: #d9d9d9; /*Sets element background color*/
    padding: 0 20px 20px 20px; /*Sets padding value*/
    border: 5px solid black; /*Sets border*/
  }
  /*Centering the header*/
  h1 {
    margin: 0; /*To prevent overwrite to h1 element*/
    padding: 20px 0; 
    color: #00539f;
    text-shadow: 3px 3px 1px black; /*The first pixel sets horizontal offset*/
    /*Second pixel is vertical offset*/
    /*Third pixel is blur radius of the shadow*/
    /*Fourth pixel is base color of the shadow*/
  }
  /*Image centering*/
  img {
    display: block;
    margin: 0 auto;
  }
  